<div class="row">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="card-content">
        <form #LoginForm="ngForm">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">Email</i>
              <input type="text" name="Email" ngModel>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">Password</i>
              <input type="text" name="Password" ngModel>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <button class="btn-large btn-submit" type="submit">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>

