<mat-tab-group>
  <mat-tab label="Ecore Guide">
    <div class="row">
      <div class="col s6 offset-s3">
        <p class="card-content">
          <h1>ECORE STUDY GUIDE<br><i class="material-icons prefix">Study Material</i></h1>
      </div>
    </div>
  </mat-tab>

    <mat-tab label="Java">
      <div class="row">
        <div class="col s6 offset-s3">
          <p class="card-content">
          <h2>JAVA</h2>
          <mat-option (click)="open">Oops Concept</mat-option>
          <mat-option>Collections</mat-option>
          <mat-option>Exception Handling</mat-option>
        </div>
      </div>

      <mat-tab label="Angular">
        <div class="row">
          <div class="col s6 offset-s3">
            <p class="card-content">
            <h2>Angular</h2>
            <mat-option>Header</mat-option>
            <mat-option>Footer</mat-option>
            <mat-option>Angular Material</mat-option>
            <mat-option>Directive</mat-option>
            <mat-option>Animation</mat-option>
          </div>
        </div>

        <mat-tab label="HTML">
          <div class="row">
            <div class="col s6 offset-s3">
              <p class="card-content">
              <h2>HTML</h2>
              <mat-option>HTML tags</mat-option>
              <mat-option>HTML lists</mat-option>
              <mat-option>HTML form</mat-option>
            </div>
          </div>
        </mat-tab>
      </mat-tab>
    </mat-tab>
</mat-tab-group>
